* {
    margin: 0;
    padding: 0;
    border: 0;
}

.clear{
    clear: both;
}

div{
    display: block;
}

body{
    background: url("../img/testPics/001.jpg") no-repeat;
    background-attachment : fixed;
    background-size: cover;
    font-family: 微软雅黑;
    font-size: 110%;
    color: white;
}

.wp{
    text-align: center;
    min-width: 1140px;
    width: 85%;
}

.bg{
    background-color: rgba(50,50,50,0.9);
    height: 60px;
    width: 100%;
}

/*================================================================================================================*/

/* header */

#header{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

#menubar{
    margin: 0 auto;
}

#bar{
    float: left;
    list-style: none;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
}

.menu{
    list-style: none;
    height: 100%;
    width: 130px;
    line-height: 60px;
    text-align: center;
    float: left;
}

.menu a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
}

.menu a:hover{
    background-color: rgba(200,200,200,0.2);
}

#selected{
    background-color: rgba(200,200,200,0.2);
}

.smlogo{
    height: 20px;
}

/*--------------------------------------------------------------------------------------------------------------*/

/*search box*/


#search {
    text-align: center;
    list-style: none;
    width: 285px;
    line-height: 60px;
    float: left;
    height: 60px;
}

#search:before,#search:after {
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    /*width: 800px;*/
}

#search input {
    background: rgba(50,50,50,0.9);
    border: 1px solid #000;
    border-radius: 5px 0 0 5px;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    margin: 0;
    padding: 0 10px;
    width: 200px;
}

#search_form{
    padding-top: 12px;
}

.ie #search input {
    line-height: 35px;
}

#search input::-webkit-input-placeholder {
    color: #AAA;
}

#search input:-moz-placeholder {
    color: #AAA;
}

#search input:focus {
    -webkit-animation: glow 800ms ease-out infinite alternate;
    -moz-animation: glow 800ms ease-out infinite alternate;
    -o-animation: glow 800ms ease-out infinite alternate;
    -ms-animation: glow 800ms ease-out infinite alternate;
    animation: glow 800ms ease-out infinite alternate;
    background: rgba(50,50,50,0.9);
    color: #efe;
    outline: none;
}

#search input:focus::-webkit-input-placeholder {
    color: #efe;
}

#search input:focus:-moz-placeholder {
    color: #efe;
}

#search button {
    background: #222;
    background: -webkit-linear-gradient(#333, #222);
    background: -moz-linear-gradient(#333, #222);
    background: -o-linear-gradient(#333, #222);
    background: -ms-linear-gradient(#333, #222);
    background: linear-gradient(#333, #222);
    border: 1px solid #000;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
}

#search button:hover,#search button:focus {
    background: #292929;
    background: -webkit-linear-gradient(#393939, #292929);
    background: -moz-linear-gradient(#393939, #292929);
    background: -o-linear-gradient(#393939, #292929);
    background: -ms-linear-gradient(#393939, #292929);
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
}

#search button:active {
    background: #292929;
    background: -webkit-linear-gradient(#393939, #292929);
    background: -moz-linear-gradient(#393939, #292929);
    background: -o-linear-gradient(#393939, #292929);
    background: -ms-linear-gradient(#393939, #292929);
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

@-webkit-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

/*==============================================================================================================================*/

/*center*/

#center{
    width: 85%;
    min-width: 1100px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.border{
    border-radius: 6px;
    box-shadow: 0 0 10px #933;
    border: 1px solid rgba(200,66,66,0.9);
}

/*----------------------------------------------------------------------------------------------------------------*/

/*left*/

#left{
    width: 65%;
    float: left;
}

.main_out{
    width: 100%;
    border: 1px solid;
}

.main{
    width: 90%;
    height: 550px;
    margin-bottom: 35px;
    background-color: rgba(200,200,200,0.7);
    margin: 0 auto;
}

.title{
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

.main_pic{
    width: 640px;
    height: 400px;
    /*background: url("../img/testPics/003.jpg") no-repeat;*/
    /*background-size: cover;*/
}

.main_p{
    /*visibility: hidden;*/
    position: relative;
    top: -50px;
}

/*-------------------------------------------------------------------------------------------------------------------------*/

/*right*/

#right{
    width: 30%;
    float: right;
}

.right{
    background-color: rgba(200,200,200,0.7);
    right: 120px;

}


/*---------------------------------------------------------------------------*/

/*log*/

#log{
    display: block;
    height: 270px;
    width: 100%;
}


#log_heading{
    line-height: 30px;
    background-color: rgba(50,50,50,0.9);
    border-radius: 5px 5px 0 0;
    padding-left: 10px;
}


#log_table{
    margin: 10px auto;
    border-spacing: 10px;
    -webkit-border-horizontal-spacing: 10px;
    -webkit-border-vertical-spacing: 10px;
    width: 80%;
    text-align: center;
}


.log_row{
    line-height: 30px;
    vertical-align: middle;
    display: inline;
    width: 100%;

}

.log_img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.log_text{
    height: 30px;
    width: 190px;
    vertical-align: middle;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(200,200,200,0.7);

}

.log_text:focus{
    box-shadow: 0 0 10px #933;
    border: 1px solid rgba(200,66,66,0.9);
}

.button_td{
    width: 50%;
}

.log_buttons{
    height: 30px;
    width: 80px;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgba(50,50,50,0.9);
    color: white;
}

#forget{
    text-align: right;
    font-size: 10px;
}

/*==============================================================================================================================*/

/*footer*/

#footer{
    /*position: absolute;*/
    /*bottom: -600px;*/
    margin-top: 50px;
}

.bottom {
    font-size: 12px;
}